---
apiVersion: v1
kind: Namespace
metadata:
  name: mno

---
apiVersion: v1
kind: Secret
metadata:
  name: assisted-deployment-pull-secret
  namespace: mno
stringData:
  .dockerconfigjson: '{{ environ("pull_secret") }}'
  type: kubernetes.io/dockerconfigjson

---
apiVersion: v1
kind: Secret
metadata:
  name: bmc-secret-master0
  namespace: mno
data:
  username: "QURNSU4K"
  password: "QURNSU4K"
type: Opaque

---
apiVersion: v1
kind: Secret
metadata:
  name: bmc-secret-master1
  namespace: mno
data:
  username: "QURNSU4K"
  password: "QURNSU4K"
type: Opaque

---
apiVersion: v1
kind: Secret
metadata:
  name: bmc-secret-master2
  namespace: mno
data:
  username: "QURNSU4K"
  password: "QURNSU4K"
type: Opaque

---
apiVersion: v1
kind: Secret
metadata:
  name: bmc-secret-worker0
  namespace: mno
data:
  username: "QURNSU4K"
  password: "QURNSU4K"
type: Opaque

---
apiVersion: v1
kind: Secret
metadata:
  name: bmc-secret-worker1
  namespace: mno
data:
  username: "QURNSU4K"
  password: "QURNSU4K"
type: Opaque

---
apiVersion: v1
kind: Secret
metadata:
  name: bmc-secret-worker2
  namespace: mno
data:
  username: "QURNSU4K"
  password: "QURNSU4K"
type: Opaque
